
Mi primero Laboratorio

In [2]:
print ("Hola Mundo")

Hola Mundo

In [3]:
'''
    Def: Esta funcions e encarga de..

    Arg: 

    output:
'''

'\n    Def: Esta funcions e encarga de..\n\n    Arg: \n\n    output:\n'

In [4]:
# Etapa1: este proceso ... block
print('') 
print('')
print('') # Comentario inline
print('')

In [5]:
if 4 < 3:
    print('2 es menor que 3')
    print('2')
    print('6')
print(3)

3

Variables Globales vs Locales

In [6]:
x_global = 10

def my_function():
    print(x_global)

my_function()
print(x_global)

10
10

In [7]:
def my_function():
    global x_global # Declarar una variable global
    x_global = x_global + 1
    print(x_global) 

my_function()

11

In [8]:
def my_function2():
    y = 5
    print(y)

my_function2()

print(y)

5

NameError: name 'y' is not defined

Tipos de Datos

In [9]:
# String

texto = "Bryan Vargas"

print(texto)
print(type(texto))

Bryan Vargas
<class 'str'>

In [10]:
# Numericos
int_num = 10
float_num = 10.2
complexos_num = 3.14j

In [11]:
val = True
val2 = False

Lista de Datos

In [12]:
my_list_1 = [3, 5, 2]

my_list_2 = []

my_list_3 = [3, "Hello", 44.2]

my_list = ['apple', [3, ['a', 2, 3.4], 8], ['x']]

print(my_list_1)
print(my_list_2)
print(my_list_3)

print(my_list)

[3, 5, 2]
[]
[3, 'Hello', 44.2]
['apple', [3, ['a', 2, 3.4], 8], ['x']]

In [13]:
my_list.insert(1, 3)
my_list

['apple', 3, [3, ['a', 2, 3.4], 8], ['x']]

In [14]:
my_list_f = ['x', 't', 'm', 'a']

print(my_list_f[0])

print(my_list_f[-2])

print(my_list_f[-3])

x
m
t

In [15]:
# Incorrect
my_list_f[3]

'a'

In [16]:
# listas Anidades

n_list = ['happy', [6, 2, 3 , 4]]

print(n_list[0][1])

print(n_list[1][3])

a
4

In [17]:
my_list_range = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h' , 'i']

print(my_list_range)

print(my_list_range[2:5])

print(my_list_range[5:])

print(my_list_range[:])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['c', 'd', 'e']
['f', 'g', 'h', 'i']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [18]:
# Podemos Iterar la Lista

frutas = ['banana', 'apple', 'mango']

for fruta in frutas:
    print('Me gusta:', fruta)

Me gusta: banana
Me gusta: apple
Me gusta: mango

In [19]:
list(range(0, 3))

[0, 1, 2]

In [21]:
# Definir tupla ()
my_tuple = ()
print(my_tuple)

my_tuple = (1, 2, 5)
print(my_tuple)

my_tuple = (1, 'Hello', 5.5)
print(my_tuple)

my_tuple = ('apple', [1, 3, 5], (5, 8, 9))
print(my_tuple)

()
(1, 2, 5)
(1, 'Hello', 5.5)
('apple', [1, 3, 5], (5, 8, 9))

In [22]:
my_tuple[0] = 'banana' # Es inmutable

TypeError: 'tuple' object does not support item assignment

In [23]:
my_tuple = ('p' ,'e','r','u', 'l', 'll', 'm','z', 'z')

print(my_tuple[3])
print(my_tuple[8])

u
z

In [24]:
# Iterrar en una tupla
nombres = ('Cesar', 'Jhon')

for nombre in nombres:
    print('Hola: ', nombre)

Hola:  Cesar
Hola:  Jhon

Diccionario
Conjunto de elementos, donde cada elemento tiene una clave y un valor correspondiente ('Clave': 'Valor')

In [25]:
list()

tuple()

()

In [26]:
# Diccionario Vacio
my_dict = {}

#Diccionario con una clave entera
my_dict = {
    1: 'apple',
    2: 'pera'
}

print(my_dict)

# Consructor dicionario
my_dicta = dict({1:'apple', 2:'pera'})
print(my_dicta)

{1: 'apple', 2: 'pera'}
{1: 'apple', 2: 'pera'}

In [27]:
# Crear Diccionario con diferentes tipos de llaves

my_dict_2 = {
    'name': 'jhon',
    1: {'edad': 12}
}
print(my_dict_2)

{'name': 'jhon', 1: {'edad': 12}}

In [28]:
estudiante = {
    'estudiante_01': {
        'nombre': 'Luis',
        'apellido': 'Solis',
        'Edad': 25
    },
    'estudiante_02': {
        'nombre': 'Gianina',
        'apellido': 'Miranda',
        'Edad': 22
    }
}

print(estudiante)

{'estudiante_01': {'nombre': 'Luis', 'apellido': 'Solis', 'Edad': 25}, 'estudiante_02': {'nombre': 'Gianina', 'apellido': 'Miranda', 'Edad': 22}}

In [29]:
print(estudiante.get('estudiante_02').get('nombre','-'))

Gianina

In [30]:
# Como acceder a los diccionarios
my_dict = {
    'name': 'jack',
    'age': 26
}

# acceder directamente a un elemento
print(my_dict['name'])

# Usando get, para tratar errores
print(my_dict.get('talla', '0'))

jack
0

In [31]:
my_dict['apellido'] = 'Fernando'
my_dict

{'name': 'jack', 'age': 26, 'apellido': 'Fernando'}

In [32]:
# Iterar un diccionar
my_dict

{'name': 'jack', 'age': 26, 'apellido': 'Fernando'}

In [33]:
for key, value in my_dict.items():
    print(f'El valor de la llave {key} es {value}')

El valor de la llave name es jack
El valor de la llave age es 26
El valor de la llave apellido es Fernando

In [34]:
my_dict.values()

dict_values(['jack', 26, 'Fernando'])

In [35]:
my_dict.keys()

dict_keys(['name', 'age', 'apellido'])

Flujos de Control

In [36]:
True, False

(True, False)

In [37]:
# Flujo de control, if, else, elif

x = -5

if x > 0:
    print('positivo')
elif x == 0:
    print('Cero')
else:
    pass
    # print('Negativo')

In [38]:
# for
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

sum = 0

for val in numbers:
    sum = sum + val

print(f'la suma es: {sum}')

la suma es: 48

In [39]:
# while

i = 0
suma = 0

while i <= 10:
    suma = suma + i
    i+=1. # Actualizar el contador

print(f'La suma es: {suma}')

La suma es: 55.0

In [40]:
# Break, Continue, pass

fruits = ['apple', 'banana', 'cherry']

for i in fruits:
    print(i)
    if i == 'banana':
        break

apple
banana

In [41]:
fruits = ['apple', 'banana', 'cherry']

for i in fruits:
    if i == 'banana':
        continue
    print(i)

apple
cherry

In [42]:
fruits = ['apple', 'banana', 'cherry']

for i in fruits:
    if i == 'banana':
        pass # Util para definir una estructura, no hay logica interna
    print(i)

apple
banana
cherry

In [43]:
# Tratamiento de errores ( try / exception)

try:
    print('success')
except:
    print('- Error')

success

In [44]:
try:
    print(10/0)
except ZeroDivisionError:
    print('-- No se puede dividr entre zero')

-- No se puede dividr entre zero

In [45]:
try:
    print(10/0)
except Exception as e:
    print('Error en etapa de homologacion de productos!!!:', e)

Error en etapa de homologacion de productos!!!: division by zero


Funciones

In [46]:
def my_function(country: str = 'Peru'):
    print('I am from ', country)

my_function('Brasil') 
my_function()

I am from  Brasil
I am from  Peru

In [47]:
def sum(num_1, num_2):
    resultado = num_1 + num_2
    return resultado

resultado = sum(10, 9)
resultado2 = sum(3, 4)

print(resultado)

19

In [48]:
# funcion con mas de 1 elemento de retorno
def sumar(a: int, b: int)-> int:
    resultado1 = a + b
    resultado2 = a - b
    resultado3 = a * b
    return resultado1, resultado2, resultado3 # retorna una tupla

x, y, z = sumar(a=3, b=4)

print(x)
print(y)
print(z)

7
-1
12

In [49]:
# Funciones anonimas , 
saludo = lambda: 'Hola'
saludo()

'Hola'


Tarea 1: Creamos una funcion para buscar un elemento de una lista

In [50]:
lista_ejemplo = range(1, 100)

def buscar_elemento(lista, elemento):
    for item in enumerate(lista):
        if item == elemento:
            return 'Si esta en la lista'
    return 'No esta en la lista'
 
print(buscar_elemento(lista_ejemplo, 25))  
print(buscar_elemento(lista_ejemplo, -2))

No esta en la lista
No esta en la lista

In [51]:
lista_ejemplo = range(1, 100)

def buscar_elemento(lista, elemento):
    for pos, val in enumerate(lista):
        if val == elemento:
            return pos

posicion_buscada = buscar_elemento(lista_ejemplo, 10)
print(lista_ejemplo[posicion_buscada])

10